---
layout: base.njk
---
<div class="slide theme-prism-material-oceanic">
	<h1 class="slide-list-title">This Web Site is a Tech Talk</h1>

	<ol class="slide-list">
		<li class="slide-list-instructions">
			Created by <a href="https://www.zachleat.com/">zachleat</a>. <a href="https://github.com/zachleat/this-website-is-a-tech-talk">Code on GitHub</a>. This will make a lot more sense if you <a href="https://www.zachleat.com/web/this-website-is-a-tech-talk/">watch the talk video</a>.
		</li>
		<li class="slide-list-instructions">
			Caveat: due to the time constraints of developing this presentation, these slides are not touchscreen friendly. I consider this a bug—yet here we are.
		</li>
		<li class="slide-list-instructions">
			<p>If you’re watching the talk you should not see this page. The talk begins on the next slide: Decoy.</p>
			<p>Keyboard commands:</p>
			<ul>
				<li><code>Any key</code> Reveal another character of code or text</li>
				<li><code>⌘←</code> Previous slide</li>
				<li><code>⌘→</code> or <code>Enter</code> Next slide</li>
				<li><code>⌘↑</code> Back to index</li>
				<li><code>`</code> Skip animation</li>
			</ul>
		</li>
		{%- for slide in collections.slide %}
		<li>
			<a href="{{ slide.url }}">
				{%- if slide.data.description %}<span>{{ slide.data.description }}</span> {% endif %}
				<code>{{ slide.fileSlug }}</code>
			</a>
		</li>
		{%- endfor %}
	</ol>
</div>