---
layout: base.njk
---
<ol>
	{%- for slide in collections.slide %}
	<li>
		<a href="{{ slide.url }}"><code>{{ slide.fileSlug }}</code></a>
		{% if slide.data.description %}: {{ slide.data.description }}{% endif %}
	</li>
	{%- endfor %}
</ol>