---
layout: base.njk
---
<div class="slide theme-prism-material-oceanic">
	<ol class="slide-list">
		{%- for slide in collections.slide %}
		<li>
			<a href="{{ slide.url }}">
				{%- if slide.data.description %}<span>{{ slide.data.description }}</span> {% endif %}
				<code>{{ slide.fileSlug }}</code>
			</a>
		</li>
		{%- endfor %}
	</ol>
</div>