---
description: Add a layout
title: "./layouts/liquid-layout.html"
templateLanguage: liquid
typing:
  - 68-192
  - 422,62
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A Tech Talk">
		<title>A Tech Talk</title>
		<style>
		/* This is Liquid templating via Eleventy */
		{% include "./css/vertical-center.css" %}
		{% include "./css/captions.css" %}
		{% include "./css/avatars.css" %}
		</style>
	</head>
	<body>
		{% block content %}
		Default Layout Content
		{% endblock %}
	</body>
</html>