---
orientation: vertical
title: index.html
typing:
  - 151,10
  - 161-221
  - 270,10
  - 280-333
  - 381,10
  - 391-443
templateLanguage: liquid
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>A Tech Talk</title>
		<link rel="stylesheet" href="/css/vertical-center.css" disabled>
		<style>{% include "./css/vertical-center.css" %}</style>
		<link rel="stylesheet" href="/css/captions.css" disabled>
		<style>{% include "./css/captions.css" %}</style>
		<link rel="stylesheet" href="/css/avatars.css" disabled>
		<style>{% include "./css/avatars.css" %}</style>
	</head>
	<body>
		<h1>Let’s move our styles inline <img src="~/twitter/@eleven_ty" alt="eleven_ty Twitter avatar"></h1>
	</body>
</html>