---
orientation: vertical
title: index.html
typing:
  - 151,10
  - 171-213
  - 270,10
  - 290-325
  - 381,10
  - 401-435
templateLanguage: liquid
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>A Tech Talk</title>
		<link rel="stylesheet" href="/css/vertical-center.css" disabled>
		<style>{% include "./css/vertical-center.css" %}</style>
		<link rel="stylesheet" href="/css/captions.css" disabled>
		<style>{% include "./css/captions.css" %}</style>
		<link rel="stylesheet" href="/css/avatars.css" disabled>
		<style>{% include "./css/avatars.css" %}</style>
	</head>
	<body>
		<h1>Let’s move our styles inline.</h1>
	</body>
</html>