---
title: This Web Site is a Tech Talk
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/static/slides.css">
		<link rel="stylesheet" href="/static/typer-letter.css">
{% if theme %}
		<link rel="stylesheet" href="/static/{{ theme }}.css">
{% endif %}
		<link rel="stylesheet" href="/static/resizeasaurus.css">
{% if performBenchmark %}
		<link rel="stylesheet" href="/static/speedlify-score.css">
{% endif %}
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		{{ content | safe }}
		<script type="module" src="/static/typer-letter.js"></script>
		<script type="module" src="/static/resizeasaurus.js"></script>
		<script type="module" src="/static/slides.js"></script>
{% if performBenchmark %}
		<script type="module" src="/static/speedlify-score.js"></script>
{% endif %}
	</body>
</html>