---
layout: base.njk
theme: prism-material-oceanic
preview: true
fullscreen: false
fullscreenImage:
showNavigation: true
orientation: horizontal
ratio: "60-40"
autoplay: false
autoplaySpeed: 1
deleteDelay: 1000
typing:
  - 0
multipleCursors: false
showCursor: true
allowIframeInteraction: false
title:
externalIframeSrc:
externalIframeSrcDoc:
performBenchmark: false
webpagetestFilmstrip: false
funMode: false

# Change the syntax of the code highlighted
format: html

# change the template language of the 11ty slide (server render)
# templateEngineOverride:

# Render this code on the client, supported: `liquid`
templateLanguage: false
---
{% if fullscreenImage %}
<img src="{{ fullscreenImage }}" style="width: 100%; height: 100%">
{% else %}
<div class="slide slide-{{ page.fileSlug | getDashedSlug }} theme-{{ theme }} {{ slideClass }}
	{%- if funMode %} slide-fun-mode{% endif %}
	{%- if webpagetestFilmstrip %} slide-wpt-{{ webpagetestFilmstrip }}{% endif %}
	{%- if preview %} slide-preview slide-preview-{{ orientation }} slide-preview-{{ ratio }}{% endif %}
	{%- if preview and fullscreen %} slide-preview-fullscreen{% endif %}
	{%- if autoplay %} slide-autoplay{% endif %}
	{%- if showWindowSize %} slide-windowsize{% endif %}
	{%- if not showCursor %} slide-hidecursor{% endif %}
	{%- if multipleCursors %} slide-cursors-multiple{% endif %}
	{%- if allowIframeInteraction %} slide-iframe-interaction{% endif %}"
	{%- if templateLanguage %} data-slide-template-lang="{{ templateLanguage }}"{% endif %}
	{%- if deleteDelay %} data-slide-delete-delay="{{ deleteDelay }}"{% endif %}
	{%- if autoplaySpeed %} data-slide-autoplay-speed="{{ autoplaySpeed }}"{% endif %} tabindex="0" autofocus>
	{% if templateLanguage %}
		{% set content = page.inputPath | getFileContents %}
	{% endif %}
	{% if content %}
		{{ content | characterWrap(format, typing, multipleCursors) | safe }}
	{% else %}
		{% if not externalIframeSrc and not externalIframeSrcDoc %}
			{% highlight "html" %}<!-- Needs more HTML -->{% endhighlight %}
		{% endif %}
	{% endif %}
{% if preview %}
	<div class="frame">
		<resize-asaurus class="frame-resizer">
			<div class="window frame-resizer-main">
				<div class="window-hed">
					<div class="window-circle window-circle-red"></div>
					<div class="window-circle window-circle-yellow"></div>
					<div class="window-circle window-circle-green"></div>
					{%- if title %}
						{%- if title.startsWith("http") -%}
							<a href="{{ title }}" class="window-title">{{ title }}</a>
						{%- else -%}
							<div class="window-title">{{ title }}</div>
						{%- endif -%}
					{%- endif %}
				</div>
				<iframe data-js class="frame-resizer-iframe"
					{%- if externalIframeSrc or externalIframeSrcDoc %} data-external-iframe {% endif -%}
					src="{% if externalIframeSrc %}{{ externalIframeSrc }}{% else %}data:text/html;charset=utf-8,{% endif %}"
					{%- if externalIframeSrcDoc %} srcdoc="{{ externalIframeSrcDoc }}"{% endif %}></iframe>
				<noscript class="frame-noscript">
					<iframe class="frame-resizer-iframe"
					{%- if externalIframeSrc or externalIframeSrcDoc %} data-external-iframe {% endif -%}
					src="{% if externalIframeSrc %}{{ externalIframeSrc }}{% else %}data:text/html;charset=utf-8,{% endif %}"
					{% if not externalIframeSrc %}srcdoc="{{ externalIframeSrcDoc or content }}"{% endif %}></iframe>
				</noscript>
			</div>
		</resize-asaurus>
	</div>
{% endif %}
</div>
{% endif %}
{% if performBenchmark %}
<speedlify-score score requests weight raw-data='{{ benchmark | getBenchResult(page.fileSlug) | toJSON | safe }}'></speedlify-score>
{% endif %}
<nav class="slide-nav{% if not showNavigation %} slide-nav-hide{% endif %}">
{% set currentPostIndex = collections.slide | findCollectionIndex(page) %}
{% set previousPost = collections.slide | getPreviousCollectionItem(page) %}
{% set nextPost = collections.slide | getNextCollectionItem(page) %}
{%- if performBenchmark %}<a id="slide-nav-preview" href="{% if externalIframeSrc %}{{ externalIframeSrc }}{% else %}/benchmark/{{ page.fileSlug }}/{% endif %}"><span class="visually-hidden">Full Preview of Slide</span>🔭</a>&nbsp;{% endif %}
<a id="slide-nav-previous"{% if previousPost %} href="{{ previousPost.url }}"{% else %} class="slide-nav-disabled"{% endif %}>←<span class="visually-hidden">Previous Slide</span></a>
<a id="slide-nav-next"{% if nextPost %} href="{{ nextPost.url }}"{% else %} class="slide-nav-disabled"{% endif %}><span class="visually-hidden">Next Slide</span>→</a>
&nbsp;<a id="slide-nav-index" href="/">{% if meta.dev %}{{ currentPostIndex + 1 }} of {{ collections.slide.length }}{% else %}{{ page.fileSlug }}{% endif %}</a>
</nav>