---
layout: base.njk
theme: prism-material-oceanic
format: html
preview: true
orientation: horizontal
ratio: "60-40"
flip: true
autoplay: false
autoplaySpeed: 1
deleteDelay: 1000
typing:
  - 0
multipleCursors: false
allowIframeInteraction: false
title:
---
<div class="slide theme-{{ theme }}
	{%- if preview %} slide-preview slide-preview-{{ orientation }} slide-preview-{{ ratio }}{% endif %}
	{%- if flip %} slide-flip{% endif %}
	{%- if autoplay %} slide-autoplay{% endif %}
	{%- if showWindowSize %} slide-windowsize{% endif %}
	{%- if multipleCursors %} slide-cursors-multiple{% endif %}
	{%- if allowIframeInteraction %} slide-iframe-interaction{% endif %}"
	{%- if deleteDelay %} data-slide-delete-delay="{{ deleteDelay }}"{% endif %}
	{%- if autoplaySpeed %} data-slide-autoplay-speed="{{ autoplaySpeed }}"{% endif %} tabindex="0" autofocus>
  {{ content | getJsdomLetters(format, typing, multipleCursors) | safe }}
{% if preview %}
  <div class="frame">
    <resize-asaurus class="frame-resizer">
      <div class="window frame-resizer-main">
        <div class="window-hed">
          <div class="window-circle window-circle-red"></div>
          <div class="window-circle window-circle-yellow"></div>
          <div class="window-circle window-circle-green"></div>
          {%- if title %}
          <div class="window-title">{{ title }}</div>
          {%- endif %}
        </div>
        <iframe class="frame-resizer-iframe" src="data:text/html;charset=utf-8,"></iframe>
      </div>
    </resize-asaurus>
  </div>
{% endif %}
</div>
<nav class="slide-nav">
{% set previousPost = collections.slide | getPreviousCollectionItem(page) %}
{% set nextPost = collections.slide | getNextCollectionItem(page) %}
<a id="slide-nav-previous"{% if previousPost %} href="{{ previousPost.url }}"{% else %} class="slide-nav-disabled"{% endif %}>←<span class="visually-hidden">Previous Slide</span></a>
<a id="slide-nav-next"{% if nextPost %} href="{{ nextPost.url }}"{% else %} class="slide-nav-disabled"{% endif %}><span class="visually-hidden">Next Slide</span>→</a>
</nav>