:root {
	--slide-border-width: 3px;
}
.slide-list {
	padding: 1em 1em 1em 4em;
	font-size: 2em;
}
.slide-list a {
	text-decoration: none;
}
.slide-list a span {
	text-decoration: underline;
}
.slide-list > li {
	padding-left: 1em;
	list-style-position: initial;
}
.slide {
	min-height: 100%;
	outline: none;
	border: var(--slide-border-width) solid transparent;
}
.slide.theme-prism-material-oceanic {
	background-color: #263238;
}
.slide.theme-prism-material-oceanic,
.slide.theme-prism-material-oceanic :link,
.slide.theme-prism-material-oceanic :visited {
	color: #fff;
}
.slide:focus,
.slide:focus-within {
	border-color: rgba(0,0,0,.6);
}
.slide-iframe-interaction:focus,
.slide-iframe-interaction:focus-within {
	border-color: hsla(270deg, 50%, 40%, .4);
}
.slide:not(.slide-preview) {
	font-size: 1.25em; /* 20px /16 */
}
.slide:not(.slide-preview):not(.slide-editor),
.slide:not(.slide-preview):not(.slide-editor) code[class*="language-"],
.slide:not(.slide-preview):not(.slide-editor) pre[class*="language-"] {
	background-color: #000;
}
.slide-preview-vertical,
.slide-preview-vertical-flip,
.slide-preview-horizontal,
.slide-preview-horizontal-flip {
	display: flex;
}
.slide-preview-vertical {
	flex-direction: column-reverse;
}
.slide-preview-vertical-flip {
	flex-direction: column;
}
.slide-preview-vertical > pre,
.slide-preview-vertical-flip > pre {
	/* flex-grow: 1; */
	max-height: 58vh;
	overflow: auto;
}
.slide-preview-horizontal {
	flex-direction: row-reverse;
}
.slide-preview-horizontal-flip {
	flex-direction: row;
}
.slide-preview-horizontal .frame,
.slide-preview-horizontal-flip .frame {
	max-width: 60%;
}
.slide-preview-vertical .frame-resizer.frame-resizer,
.slide-preview-vertical-flip .frame-resizer.frame-resizer {
	flex-grow: 0;
	width: 70%;
	min-height: 30vh;
	resize: both;
}
.slide-preview-fullscreen .frame-resizer.frame-resizer {
	width: 90vw;
}

/* WPT filmstrips */
.slide-wpt-mobile .frame {
	align-items: flex-start;
}
.slide-wpt-mobile .frame-resizer.frame-resizer.frame-resizer {
	min-height: 40.625em; /* 650px /16 */
}
.slide-wpt-desktop .frame {
	align-items: flex-start;
}
.slide-wpt-desktop .frame-resizer.frame-resizer.frame-resizer {
	min-height: 29.6875em; /* 475px /16 */
}

iframe[data-js] {
	display: none;
}
iframe[data-js].slide-iframe-enabled {
	display: block;
}

/* Window size */
.resizeasaurus-size.resizeasaurus-size {
	display: none;
}
.slide-windowsize .resizeasaurus-size.resizeasaurus-size {
	display: block;
}

/* Ratios */
.slide-preview-30-70 pre {
	flex-basis: 30%;
}
.slide-preview-30-70 .frame {
	max-width: 100%;
}
.slide-preview-40-60 pre {
	flex-basis: 40%;
}
.slide-preview-50-50 pre {
	flex-basis: 50%;
}
.slide-preview-60-40 pre {
	flex-basis: 60%;
}
.slide-preview-70-30 pre {
	flex-basis: 70%;
}

/* Editor */
.slide pre[class*="language-"] {
	padding: 2em 1em;
}

/* Preview window */
.frame {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: stretch;
	padding: 2em 1em;
}

/* Resize the preview window */
.frame-resizer.frame-resizer {
	width: 100%;
	display: flex;
	margin: 0;
	border: none;
	background-color: #fff;
}
.frame-resizer {
	flex-direction: column;
	border-radius: .5em;
	min-width: 200px;
	box-shadow: 0 10px 60px rgba(0, 0, 0, .9);
}
.slide:focus .frame-resizer,
.slide:focus-within .frame-resizer {
	box-shadow: 0 10px 40px 4px rgba(0, 0, 0, .4);
}
.frame-resizer-main {
	flex-grow: 999;
}
.frame-resizer-iframe {
	flex-grow: 999;
	border: none;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.frame-noscript {
	height: 100%;
}
.slide-iframe-interaction .frame-resizer-iframe {
	pointer-events: all;
}

/* Fake window */
.window {
	display: flex;
	flex-direction: column;
}
.window-hed {
	display: flex;
	background-color: #ddd;
	gap: 6px;
	padding: 6px;
}
.window-circle {
	display: inline-block;
	height: 12px;
	min-width: 12px;
	max-width: 12px;
	border-radius: 12px;
}
.window-circle-red {
	background-color: #FF5F56;
}
.window-circle-yellow {
	background-color: #FFBD2E;
}
.window-circle-green {
	background-color: #27C93F;
}
.window-title {
	flex-grow: 999;
	text-align: center;
	font-family: system-ui;
	font-size: 0.75em; /* 12px /16 */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: #bbb;
	border-radius: 0.5555555555556em; /* 5px /9 */
	margin-left: 2em;
	margin-right: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -3px;
	margin-bottom: -3px;
	text-decoration: none;
}
.window-title.window-title.window-title,
.window-title.window-title.window-title:visited {
	color: #000;
}

/* Navigation */
.slide-nav {
	position: absolute;
	top: calc(2 * var(--slide-border-width));
	right: calc(2 * var(--slide-border-width));
	font-size: 0.5em; /* 8px /16 */
	font-variant-numeric: tabular-nums;
}
.slide-nav-hide {
	display: none;
}
.slide-nav a {
	text-decoration: none;
	line-height: 1;
}
.slide-nav,
.slide-nav a,
.slide-nav a:visited {
	color: #fff;
}
.slide-nav-disabled {
	opacity: .4;
	cursor: not-allowed;
}


/* Specific slide styles */
.slide-1-0.animation {
	opacity: 0;
	transition: opacity 0.6s ease-out;
}
.slide-1-0.animationend {
	opacity: 1;
}
.slide-14-0 .charwrap-typed-initial,
.slide-14-1 .charwrap-typed-initial {
	opacity: .3;
}

