:root {
	--slide-border-width: 4px;
}
.slide {
	min-height: 100%;
	outline: none;
	border: var(--slide-border-width) solid transparent;
}
.slide.theme-prism-material-oceanic {
	background-color: #263238;
}
.slide:focus,
.slide:focus-within {
	border-color: rgba(0,0,0,.6);
}
.slide-preview-vertical,
.slide-preview-vertical-flip,
.slide-preview-horizontal,
.slide-preview-horizontal-flip {
	display: flex;
}
.slide-preview-vertical {
	flex-direction: column-reverse;
}
.slide-preview-vertical-flip {
	flex-direction: column;
}
.slide-preview-vertical > pre,
.slide-preview-vertical-flip > pre {
	/* flex-grow: 1; */
	max-height: 50vh;
	overflow: auto;
}
.slide-preview-horizontal {
	flex-direction: row-reverse;
}
.slide-preview-horizontal-flip {
	flex-direction: row;
}
.slide-preview-horizontal .frame,
.slide-preview-horizontal-flip .frame {
	max-width: 60%;
}
.slide-preview-vertical .frame-resizer.frame-resizer,
.slide-preview-vertical-flip .frame-resizer.frame-resizer {
	flex-grow: 0;
	width: 60%;
	min-height: 30vh;
	resize: both;
}

/* Window size */
.resizeasaurus-size.resizeasaurus-size {
	display: none;
}
.slide-windowsize .resizeasaurus-size.resizeasaurus-size {
	display: block;
}

/* Ratios */
.slide-preview-30-70 pre {
	flex-basis: 30%;
}
.slide-preview-40-60 pre {
	flex-basis: 40%;
}
.slide-preview-50-50 pre {
	flex-basis: 50%;
}
.slide-preview-60-40 pre {
	flex-basis: 60%;
}
.slide-preview-70-30 pre {
	flex-basis: 70%;
}

/* Editor */
.slide pre {
	white-space: pre-wrap;
	padding: 2em 1em;
}
.slide pre,
.slide code {
	user-select: none;

	text-align: left;
	font-family: Roboto Mono, monospace;
	font-size: 1em;
	line-height: 1.5em;

	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
}

/* Preview window */
.frame {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: stretch;
	padding: 2em 1em;
}

/* Resize the preview window */
.frame-resizer.frame-resizer {
	width: 100%;
	display: flex;
	margin: 0;
	border: none;
}
.frame-resizer {
	flex-direction: column;
	border-radius: .5em;
	min-width: 200px;
	box-shadow: 0 10px 60px rgba(0, 0, 0, .9);
}
.slide:focus .frame-resizer,
.slide:focus-within .frame-resizer {
	box-shadow: 0 10px 40px 4px rgba(0, 0, 0, .4);
}
.frame-resizer-main {
	flex-grow: 999;
}
.frame-resizer-iframe {
	flex-grow: 999;
	border: none;
	width: 100%;
	height: 100%;
	/* pointer-events: none; */
}
.slide-iframe-interaction .frame-resizer-iframe {
	pointer-events: all;
}

/* Fake window */
.window {
	display: flex;
	flex-direction: column;
}
.window-hed {
	display: flex;
	background-color: #ddd;
	gap: 6px;
	padding: 6px;
}
.window-circle {
	display: inline-block;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}
.window-circle-red {
	background-color: #FF5F56;
}
.window-circle-yellow {
	background-color: #FFBD2E;
}
.window-circle-green {
	background-color: #27C93F;
}
.window-title {
	flex-grow: 999;
	text-align: center;
	font-family: system-ui;
	font-size: 0.75em; /* 12px /16 */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: #bbb;
	border-radius: 0.5555555555556em; /* 5px /9 */
	margin-left: 2em;
	margin-right: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -3px;
	margin-bottom: -3px;
	text-decoration: none;
}
.window-title,
.window-title:visited {
	color: #000;
}

/* Navigation */
.slide-nav {
	position: absolute;
	top: calc(2 * var(--slide-border-width));
	right: calc(2 * var(--slide-border-width));
	font-size: 0.5em; /* 8px /16 */
}
.slide-nav,
.slide-nav a,
.slide-nav a:visited {
	color: #fff;
	text-decoration: none;
}
.slide-nav-disabled {
	opacity: .4;
	cursor: not-allowed;
}