* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: system-ui, sans-serif;
}
ol,
li {
  list-style-position: inside;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap; /* 1 */
  width: 1px;
}
speedlify-score {
	opacity: 0;
	pointer-events: none;
	position: fixed;
	/* left: 50%; */
	/* top: 50%; */
	/* transform: translateX(-50%) translateY(-50%); */
	bottom: 0;
	right: 0;
	font-size: 1.5em;
	flex-wrap: nowrap;
	transition: opacity ease-out .3s;
	background-color: #fff;
	padding: .4em;
	border-radius: 1.3em 0 0 0;
	box-shadow: 0 10px 40px 4px rgba(0, 0, 0, .4);
}
speedlify-score .speedlify-score {
	font-family: Roboto Mono, monospace;
	border-width: 0.1875em; /* 3px /16 */
}
.typer-letter-finished speedlify-score {
	opacity: 1;
}