h1 {
	font-family: system-ui, sans-serif;
	background-color: #000;
	color: #fff;
	font-weight: 400;
	font-size: 3em;
	line-height: 1.15;
}

@supports (box-decoration-break: clone) or (-webkit-box-decoration-break: clone) {
	h1 {
		display: inline;
		padding: 0 .2em;
		margin: 0 -.2em;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}
}